@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Montserrat:wght@300&display=swap');

:root {
    --green: #21721e;
    --light-green: #e8fcc1;
    --dark-green: #134611;
}

* {
    text-decoration: none !important;
}

/*general site code to hide scroll bar on large images*/
body {
    position: relative
}

body>footer {
    position: sticky;
    top: 100vh;
}

/*Background colour*/
.bg {
    background-size: auto 100%;
    background-color: var(--light-green);
}


/* Header/Navbar*/
nav {
    background-color: var(--light-green);
}

.navbar {
    justify-content: center;
}

.mytoggle {
    border: none;
    box-shadow: none;
}

.mytoggle:focus {
    border: none;
    box-shadow: none;
}

#myLogo {
    min-width: 100%;
    min-height: 6.18em;
    max-height: 240px;
    width: 25%;
    height: 25%;
    max-width: 50%;
    height: 50%;

    animation-name: logo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes logo-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

/*Navigation link properties*/
.nav-link {
    color: var(--green);
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2em;
    padding: 0px 5px 0px 5px;
}

/*colour/transform properties for nav links*/
.nav-link:hover {
    animation: colourchange 1s both;
}

@keyframes colourchange {
    0% {
        color: var(--dark-green);
        border-radius: 0;
        background-color: #97e072;
        opacity: 100%;
    }

    100% {
        color: #97e072;
        border-radius: 50%;
        background-color: var(--dark-green);
    }
}

.nav-item:active {
    color: #3ab636;
}

.nav-item a {
    float: left;
    align-items: center;
}

/*Stick navbar*/
#sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.1s;

}

/*index.html*/
/*first index.html image zoom out*/
.backgroundimage {
    background-image: url(../images/daygarden.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    height: 100vh;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-color: #000;
}

/*first index.html image zoom out effect*/
.backgroundimageout {
    height: 25vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.2);
        overflow: hidden;
    }

    to {
        transform: scale(1.1);
        overflow: hidden;
    }
}

/*Introduction text*/
.indextext {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2em;
    padding: 0.5em;
    margin: 0.5em;
    color: var(--dark-green);
    background-size: contain;
    position: relative;
}

.aboutus {
    position: relative;
    top: 0;
    bottom: 0;
    background-color: var(--light-green);
    height: 50%;
    width: 50%;
    fill: var(--light-green);
    top: 110.52px;
}

/*About us banner div*/
.aboutus>a {
    background-color: var(--light-green);
    fill: var(--light-green);
}

/*About us banner, 2 images make up this area*/
.aboutimage {
    background-image: url(../images/aboutbanner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vw;
    height: 50vh;
    width: auto;
    position: relative;
    min-block-size: 50%;
    background-color: var(--light-green);
    
}

.aboutbannertext {
    background-image: url(../images/aboutustext.webp);
    background-position: left;
    background-size: 25%;
    height: 12vh;
    min-block-size: 5%;
    background-color: var(--light-green);
    position: relative;
    margin: auto;
    display: block;
    bottom: 300px;
    border-radius: 20px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: help;
}

/*banner animation*/
.aboutbannertext:hover {
    animation-name: zoom;
}

@keyframes zoom {
    from {
        transform: scale(1.00);
    }

    to {
        transform: scale(1.2);
    }

}

/*service banner div*/
.servicesportfoliobanner>a {
    position: relative;
    top: 0;
    bottom: 0;
    background-color: var(--light-green);
    background-size: cover;
    
}

/*Services banner, 2 images make up this area*/
.servicesimage {
    background-image: url(../images/services.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 150%;
    display: block;
    min-block-size: 100%;
    background-color: var(--light-green);
    position: relative;
    
}

.servicesimage img {
    display: block;
}

.servicestextbox {
    background-position: left;
    background-size: 25%;
    height: 15vh;
    min-block-size: 5%;
    background-color: var(--light-green);
    position: relative;
    margin: auto;
    display: block;
    bottom: 300px;
    border-radius: 20px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: help;
}

/*banner animation*/
.servicestextbox:hover {
    animation-name: zoom;
}

@keyframes zoom {
    from {
        transform: scale(1.00);
    }

    to {
        transform: scale(1.2);
    }
}

/*about.html*/

/*First image/banner*/

.aboutusbanner {
    background-image: url(../images/aboutuspagebanner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vw;
    display: block;
    min-block-size: 50%;
    background-color: var(var(--dark-green));
    position: relative;
    text-align: center;
}

.aboutheading {
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3em;
    color: var(--dark-green);
    padding: 40px;
}

/*First image/banner animation*/
.aboutheading:hover {
    animation: colourchange2 1s both;
}

@keyframes colourchange2 {
    0% {
        color: var(--dark-green);
        background-color: #97e072;
        opacity: 100%;
        font-size: 3em;
    }

    100% {
        color: #97e072;
        background-color: var(--dark-green);
        font-size: 6em;
    }
}

/*First paragraph*/
.aboutpara {
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2em;
    color: var(--dark-green);
    padding: 0px;
    margin: 0;
    display: inline-flex;
}

/*brief call-to-action*/
.contactustext {
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5em;
    color: var(--dark-green);
    margin: 0px;
    padding: 10px;
    display: block;

}

.cathface {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: url(../images/catherine_headshot.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 15px;
}

.cathabout {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5em;
    color: var(--dark-green);
    padding: 40px;
}

.rhysface {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: url(../images/rhys_headshot.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 15px;
}

.rhysabout {
    text-align: left;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5em;
    color: var(--dark-green);
    padding: 40px;
}

/*Services*/

.servicebanner {
    background: url(../images/service2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vw;
    display: block;
    min-block-size: 50%;
    position: relative;
    text-align: center;
}

.serviceheading {
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3em;
    color: var(--dark-green);
    padding: 40px;
}

.servicetext {
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2em;
    color: var(--dark-green);
    padding: 10px;
    display: flex;

}

.listalign {
    text-align: left;
}

/*Gallery*/
.gallery {
    background-color: var(--light-green);
    text-align: center;
    font-family: "Barlow Condensed";
    font-size: 3vh;
}

/*Contact us*/

.contactus-row {
    background: url(../images/contactbackground.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    position: relative;
    opacity: 100%;
}

.form-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    background-color: #565e4893;
    position: absolute;
    top: 80px;
    left: 15%;
    font-size: 1.5em;
}

.contactus-heading {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2em;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.contactus-paragraph {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    margin: 20px 0 30px 0;
}

.form-control {
    font-family: "Barlow Condensed", sans-serif;
    margin: 20px auto;
}

.form-input:hover {
    border-color: var(--dark-green);
}

.submit-btn:hover {
    border-color: var(--dark-green);
}

/*404 page*/

.error-page {
    background: url(../images/404image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--light-green);
}

.errorcontainer {
    max-width: 70%;
    margin: 0 0 0 0;
    padding: 20px 10px 20px 10px;
    background-color: var(--light-green)a1;
    position: absolute;
    top: 80px;
    left: 15%;
    font-size: 1.5em;
}

.error-message {
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
}

.home-btn {
    font-size: 40px;
}

/*Response page*/
.tymessage {
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3em;
    color: var(--dark-green);
    padding: 40px;
}

/*Footer*/

footer {
    background-color: var(--light-green);
}

.footnotes {
    color: var(--dark-green);
}

.smicon {
    color: #3da35d;
}

.smicon:hover {
    color: var(--dark-green);
}