@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Montserrat:wght@300&display=swap');

* {
    text-decoration: none !important; 
}

.bg {
   background-color: #e8fcc1;
   overflow-x: hidden;
   background-size: auto 100%;
}

/*Header*/

.sticky-top {
    position: absolute;
    top: 0;
    width: auto, 100%;
    z-index: 9999;
}

.navbar-brand {
    display:block;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #e8fcc1;
    min-width: 10em;
    min-height: 50%;
    padding: 0, 6px, 0, 6px;
    z-index: 9999;
}



#myLogo {
    display: inline-block;
    margin-left: 0;
    margin-right: 100;
    min-width: 100%;
    min-height: 6.18em;
    max-height: 240px;
    max-width: 50%;
    height: 50%;
    left: 0px;
    right: 0px;
    animation-name: logo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
      
}

@keyframes logo-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

a:hover {
    text-decoration: none;
    }
    
#MyNavBar a {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2em;
    padding: 1em;
    margin-left: 0;
    cursor: help;
    justify-content: flex-end;
    color: #97e072;
    background-size: contain;
    display: inline-flex;
    }
    
.nav-link {
    color: #97e072;
    margin: auto;
    text-align: center;
    margin-left: 0;
    font-family: 'Barlow Condensed';
    font-size: 2em;
    padding: 0px, 5px, 0px, 5px,;

    }
    
.nav-link:hover {
    animation: colourchange 1s both;
    
    }
    
@keyframes colourchange {
    0% {
    color: #134611;
    border-radius: 0;
    background-color:#97e072;
    opacity: 100%;
    }
    100% {
    color: #97e072;
    border-radius: 100%;
    background-color:#134611;
    }
    }
    
.nav-item:active {
    color: #134611;
    }
    
/*index.html*/

.backgroundimage {
    background-image: url(../images/DayGarden.jpeg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200vw;
    height: 75vh ;
    min-zoom: 75%;
    min-block-size: 50%;
    background-color: #e8fcc1;
    margin: 0px, 0px, 5px, 5px;    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 9999;
}


.aboutimage {
    background-image: url(../images/aboutbanner.jpeg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200vw;
    height: 50vh;
    min-zoom: 50%;
    min-block-size: 50%;
    background-color: #e8fcc1;
    margin: 0px, 0px, 5px, 5px;
}

.indextext {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2em;
    padding: 1em;
    margin-left: 0;
    cursor: help;
    justify-content: center;
    color: #97e072;
    background-size: contain;
    display: inline-flex;
}

/*about.html*/

.background2 {
    background-image: url(../images/DawnGarden.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 100vh;
    min-width: 1180px;
    animation-name: slide;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    background-color: #e8fcc1;
    overflow: hidden;
    scroll-behavior: smooth;
    z-index: 9999:
    padding: 0, 10, 0, 10;
    object-fit: contain;
}

@keyframes slide {
    0% {transform: 
        translateY(0);
        opacity: 0;}
    100% {transform: 
        translateY(-120vh);}
}


.abouttext-box1 {
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    justify-content: center;
    align-items:center;
    padding: 0, 10, 0, 10;
}

/*-------------Footer*/
footer {
    background-color: #e8fcc1;
}

.footnotes {
    color: #134611;
}